form.sign-in label {
    padding: 2px;
    font-weight: bold;
    margin-left: 10px;
}

.sign-up-title {
    padding: 4px;
}

.sign-up-form-background {
    background-color: #edeeef;
    padding: 5px;
}


